<div class="auction-item">
  <div class="auction-info">
    <p class="auction-name">
      {{ auctionItem.auctionName }}
    </p>
    <p class="auction-description">
      {{ auctionItem.auctionDescription }}
    </p>
    <div *ngIf="auctionItem.status == 'active'" class="auction-bidTimer">
      <p *ngIf="timer != 0">
        {{ timer * 1000 | date : "mm:ss" }}
      </p>
      <p>{{ auctionItem.highestBid }}€</p>
    </div>

    <p class="auction-bidTimer status" *ngIf="auctionItem.status == 'ended'">
      Auction has ended
    </p>
  </div>
  <button
    class="btn btn-outline-success btn-sm"
    *ngIf="
      auctionUser.userName == auctionItem.auctionOwner &&
      auctionItem.status == 'inactive'
    "
    (click)="startAuction()"
  >
    Start auction
  </button>

  <div *ngIf="showAuctionInfo">
    <div
      *ngIf="showAuctionInfo && auctionItem.status == 'active'"
      class="auction-status-info"
    >
      <p *ngFor="let bid of auctionHistory; index as i">
        {{ i + 1 }}. {{ bid.bidder }} {{ bid.bidSum }}€
      </p>
      <div *ngIf="auctionItem.highestBid == 0">
        <p>No one bid for this item</p>
      </div>
    </div>
    <div
      *ngIf="showAuctionInfo && auctionItem.status == 'ended'"
      class="auction-status-info"
    >
      <div *ngIf="auctionItem.highestBidder">
        <p>Auction winner: {{ auctionItem.highestBidder }}</p>
        <p>Winning price: {{ auctionItem.highestBid }}€</p>
      </div>
    </div>
  </div>
  <div class="auction-bidTimer" *ngIf="auctionItem.status != 'inactive'">
    <button class="btn btn-outline-dark btn-sm" (click)="showInfo()">
      <fa-icon
        class="auction-arrow"
        [icon]="showAuctionInfo ? arrowDown : arrowUp"
      ></fa-icon>
    </button>

    <button
      class="btn btn-outline-primary btn-sm"
      (click)="bidAuction()"
      *ngIf="
        auctionUser.userName != auctionItem.auctionOwner &&
        auctionItem.status == 'active'
      "
    >
      Bid
    </button>
  </div>
</div>
