<div class="auction-item">
  <div class="auction-info">
    <p>
      {{
        auctionItem.auctionName ? auctionItem.auctionName : "Name was forgotten"
      }}
    </p>
    <p>
      {{
        auctionItem.auctionDescription
          ? auctionItem.auctionDescription
          : "Description was forgotten"
      }}
    </p>
    <p>Highest bid: {{ auctionItem.highestBid }}</p>

    <p *ngIf="auctionItem.status == 'inactive'">Auction is inactive</p>
    <p *ngIf="timer != 0 && auctionItem.status == 'active'">
      {{ timer * 1000 | date : "mm:ss" }}
    </p>
    <p *ngIf="auctionItem.status == 'ended'">Auction has ended</p>
    <p *ngIf="auctionItem.auctionOwner == auctionUser.userName">Your item</p>
    <button
      *ngIf="
        auctionUser.userName == auctionItem.auctionOwner &&
        auctionItem.status == 'inactive'
      "
      (click)="startAuction()"
    >
      Start auction
    </button>
    <button
      (click)="bidAuction()"
      *ngIf="auctionUser.userName != auctionItem.auctionOwner"
    >
      Bid
    </button>
  </div>
  <div *ngIf="!showAuctionInfo" class="auction-bids" (click)="showInfo()">
    <fa-icon [icon]="arrowRight"></fa-icon>
  </div>
  <div *ngIf="showAuctionInfo && auctionItem.status == 'active'">
    <p *ngFor="let bid of auctionHistory; index as i">
      {{ i + 1 }}. {{ bid.bidder }}. {{ bid.bidSum }}
    </p>
  </div>
  <div *ngIf="showAuctionInfo && auctionItem.status == 'ended'">
    <div *ngIf="auctionItem.highestBidder">
      <p>Auction winner</p>
      <p>{{ auctionItem.highestBidder }}</p>
      <p>Winning sum</p>
      <p>{{ auctionItem.highestBid }}</p>
    </div>
    <div *ngIf="!auctionItem.highestBidder">
      <p>No one bid for this item</p>
    </div>
  </div>
  <div *ngIf="showAuctionInfo" class="auction-bids" (click)="showInfo()">
    <fa-icon [icon]="arrowLeft" class="arrow"></fa-icon>
  </div>
</div>
