<div class="auction-item">
  <p>{{ auctionItem.auctionName }}</p>
  <p>{{ auctionItem.auctionDescription }}</p>
  <p *ngIf="auctionItem.status == 'inactive'">Auction is inactive</p>
  <p *ngIf="timer != 0 && auctionItem.status == 'active'">{{ timer }}</p>
  <p *ngIf="auctionItem.status == 'ended'">Auction has ended</p>

  <button
    (click)="startAuction()"
    [disabled]="auctionItem.status == 'active' || auctionItem.status == 'ended'"
  >
    Start auction
  </button>
  <button (click)="bidAuction()" [disabled]="auctionItem.status != 'active'">
    Bid
  </button>
</div>
