<div class="auction-form">
  <form [formGroup]="bidForm" (ngSubmit)="onSubmit()" #form="ngForm">
    <label for="bidSum">Enter your bid</label>
    <input formControlName="bidSum" type="number" id="bidSum" />
    <p *ngIf="bidForm.get('bidSum')?.errors?.['bidIsLower'] && form.submitted">
      Enter higher bid
    </p>

    <p
      *ngIf="bidForm.get('bidSum')?.errors?.['smallIncrease'] && form.submitted"
    >
      Your bid must be atleast 10€ higher
    </p>

    <button type="submit" class="btn btn-success">Commit bid</button>
  </form>
</div>
