<header><span class="header-title">Auction</span>App</header>
<div class="mainBody">
  <div class="sidebar">
    <div class="sidebar-items">
      <p class="sidebar-title">Available Users</p>
      <div class="sidebar-menu">
        <div *ngFor="let user of userList">
          <p (click)="changeUser(user)" class="sidebar-options">
            <fa-icon [icon]="userIcon" style="padding-right: 0.7rem"></fa-icon
            >{{ user.userName }}
          </p>
        </div>
      </div>
    </div>

    <div class="sidebar-items">
      <p class="sidebar-title">{{ currentUser.userName }} menu</p>
      <div class="sidebar-menu">
        <p (click)="changeMenu('activeAuctions')" class="sidebar-options">
          Active auctions
        </p>
        <p (click)="changeMenu('userAuctions')" class="sidebar-options">
          My auctions
        </p>
      </div>
    </div>
  </div>
  <div class="containers">
    <div class="container-active" *ngIf="currentMenu == 'activeAuctions'">
      <p class="auction-title">All active auctions</p>
      <div class="container-auctions">
        <div *ngFor="let auction of activeList">
          <app-auction-item
            [auctionItem]="auction"
            [auctionUser]="currentUser"
          ></app-auction-item>
        </div>
      </div>
      <p *ngIf="currentUser.userBids.length != 0" class="auction-title">
        {{ currentUser.userName }} Bids
      </p>
      <div class="container-auctions">
        <div *ngFor="let auction of currentUser.userBids">
          <app-auction-item
            [auctionItem]="auction"
            [auctionUser]="currentUser"
          ></app-auction-item>
        </div>
      </div>
    </div>
    <div class="container-active">
      <div *ngIf="currentMenu == 'userAuctions'">
        <p class="auction-title">
          {{ currentUser.userName }} All listed auctions
        </p>
        <div class="container-auctions">
          <div *ngFor="let auction of currentUser.userAuctions">
            <app-auction-item
              [auctionItem]="auction"
              [auctionUser]="currentUser"
            ></app-auction-item>
          </div>
        </div>
        <button
          (click)="openDialog()"
          class="btn btn-primary"
          style="margin-left: 1rem"
        >
          Create auction
        </button>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  © 2023 <a href="https://github.com/DovydasMM">DovydasMM</a>. All rights
  reserved.
</footer>
