.mainBody {
  display: flex;
}

.container {
  display: flex;
  min-width: 90vw;
  flex-direction: column;
  margin-left: 3rem;
}

.container-auctions {
  display: flex;
}

.auction-item {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin: 1rem;
  min-width: 10rem;
  min-height: 10rem;
}

.auction-container {
  margin-left: 10rem;
}

.sidebar {
  border: 1px solid black;
}

.sidebar {
  min-width: 10rem;
}

.auction-bids {
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  border-left: 1px solid grey;
  align-items: center;
}

.arrow {
  transform: rotate(-90deg);
}
