.mainBody {
  display: flex;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-width: 90vw;
  flex-direction: column;
  margin-left: 3rem;
}

.container-auctions {
  display: grid;
  grid-template-columns: repeat(5, 18rem);
}

.auction-item {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: fit-content;
  margin: 1rem;
  padding: 0.75rem;
  min-height: 10rem;
  min-width: 12rem;
  gap: 0;
}

.auction-name {
  font-size: 20px;
  font-weight: 800;
  padding: 0.5rem 0 1rem 0;
}

.auction-description {
  font-weight: 400;
  font-style: italic;
}

.auction-bidTimer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
}

.auction-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.auction-status-info {
  border-top: 1px solid black;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.auction-container {
  margin-left: 10rem;
}

.sidebar {
  border: 1px solid black;
  height: 90vh;
}

.sidebar {
  min-width: 10rem;
}

.auction-arrow {
  font-size: 1rem;
}

footer {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;

  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #636363;
  text-decoration: underline;
}
