header {
  display: flex;
  background-color: #112d4e;
  justify-content: center;
  align-content: center;
  color: white;
  text-align: center;
  min-height: 3rem;
  font-size: 1.85rem;
}

.header-title {
  font-weight: bolder;
}

.mainBody {
  display: flex;
  min-height: 95vh;
}

p {
  margin: 0;
  padding: 0;
}

.containers {
  display: flex;
  padding-top: 1rem;
  background-color: #f9f7f7;
  flex-direction: column;
  width: 90%;
}

.container-auctions {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 18rem);
}

.auction-title {
  margin-left: 1rem;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.auction-item {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1rem;
  padding: 0.75rem;
  min-height: 20rem;
  /* min-width: 12rem; */
  gap: 0;
}

.auction-name {
  font-size: 1.25rem;
  font-weight: 800;
  padding: 0.5rem 0 1rem 0;
  text-align: center;
}

.auction-description {
  overflow-wrap: break-word;
  hyphens: manual;
  font-weight: 400;
  font-style: italic;
  min-height: 3.25rem;
}

.auction-name,
.auction-description {
  word-break: break-all;
}

.auction-bidTimer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.auction-bidTimer.status {
  width: fit-content;
}

.auction-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.auction-status-info {
  border-top: 1px solid black;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  min-height: 3.5rem;
}

.auction-container {
  margin-left: 10rem;
}

.sidebar {
  flex-direction: column;
  min-width: fit-content;
  padding: 0.75rem;
  background-color: white;
}

.sidebar-title {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}

.sidebar-menu {
  margin-bottom: 6rem;
}

.sidebar-options {
  cursor: pointer;
  margin-top: 0.25rem;
  padding-left: 0.25rem;
  font-size: 1rem;
}

.sidebar-options.active {
  background-color: #abd5f3;
  font-weight: 500;
  border-left: #112d4e 4px solid;
}

.sidebar-options:hover {
  background-color: #e2f3ff;
}

.auction-arrow {
  font-size: 1rem;
}

footer {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;

  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #636363;
  text-decoration: underline;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.auction-form {
  width: 20rem;
  height: 30rem;
  display: flex;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: space-evenly;
}

.auction-form.bid {
  height: 15rem;
}

.form-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-element input {
  margin-top: 1rem;
  display: flex;
}

.btn-auction {
  margin-top: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  margin: 0.33rem 0;
  font-weight: 500;
}

input,
textarea {
  display: flex;
  width: 100%;
}

.alert.alert-danger {
  margin-top: 0.15rem;
  padding: 0.15rem;
  font-size: 0.75rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    font-size: 12px;
  }

  body {
    display: flex;
  }

  .container-auctions {
    grid-template-columns: repeat(1, 18rem);
  }

  .sidebar {
    position: sticky;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
  body {
    display: flex;
    font-size: 12px;
  }

  .mainBody {
    flex-grow: 1;
    flex-direction: column;
    min-width: 100vw;
  }

  .auction-form {
    height: 18rem;
  }

  .sidebar {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 6rem;
    position: sticky;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .sidebar-title {
    font-size: 1.25rem;
  }

  .sidebar-items {
    display: flex;
    flex-direction: column;
  }

  .sidebar-menu {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .containers {
    min-width: 100%;
    padding-left: 2rem;
  }

  .sidebar-options {
    padding: 0.25rem;
  }

  .container-auctions {
    grid-template-columns: repeat(2, 18rem);
  }
}
